{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content%}
<div class="container">
    <div>
        <h1>About</h1>
        <p>Welcome to Sh#t My Wife Says, the home of quirky and humorous black t-shirts and mugs
            featuring the hilarious sayings and quotes of my beloved wife!
            We believe that laughter is the spice of life, and what better way to bring a smile
            to your face than with our collection of witty and relatable designs?</p>
        <h3>Our Inspiration</h3>
        <p>Sh#t My Wife Says was born from the everyday moments of laughter and joy shared with our significant others.
            We realized that the funny and quirky phrases our wives often come up with deserve to be celebrated and
            shared with the world. Each design is a testament to the unique humor and personality that our wives
            bring into our lives.<p>
        <h3>Our Products</h3>
        <p>Our curated collection features an array of stylish and comfortable black t-shirts and mugs that are
            perfect for any occasion. Whether you're looking for a conversation starter at a party or a thoughtful
            gift for a friend, our products are designed to tickle the funny bone and add a touch of humor to your day.<p>
        <h3>Quality and Comfort</h3>
        <p>At Sh#t My Wife Says, we believe that quality and comfort should never be compromised.
            That's why we take pride in sourcing the finest materials to ensure that our t-shirts are soft,
            durable, and fit perfectly. Our mugs are crafted with care to hold your favorite beverages while
            bringing a smile to your face every time you take a sip.<p>
        <h3>Spread the Laughter</h3>
        <p>Join us in spreading the laughter by donning our unique designs or sipping your favorite drink 
        from our witty mugs. Be a part of our growing community of individuals who appreciate the lighter side of life.
        Follow us on social media and share your moments with the hashtag #Sh#tMyWifeSays. We love seeing how our products
        brighten your day!.<p>
        <h3>Contact Us</h3>
        <p>We value your feedback and are always eager to hear from you. If you have any questions, comments,
            or suggestions, don't hesitate to reach out to us via our contact page. Your satisfaction is our
            priority, and we're here to ensure you have an enjoyable shopping experience.

            Thank you for choosing Sh#t My Wife Says. We hope our products bring joy, laughter, and a whole lot of fun into your life!<p>
    </div>
</div>
{% endblock %}