{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
    <title>{% block title %}Stuff My Wife Says{% endblock %}</title>
    <meta charset="utf-8" />
    <!-- Include bootstrap, CSS and jQuery CDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <!--contact us icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!--google maps-->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
  
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Stuff My Wife Says</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          {% if categories %}
            <div class="dropdown-menu" aria-labelledby="productsDropdown">
              {% for category in categories %}
                <a class="dropdown-item" href="{% url 'products' category.pk %}">{{ category.category_name }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
        </li>
      </ul>
    </div>
  </nav>

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
    {% endfor %}
{% endif %}


{% block content %}

{% endblock %}


<!--ADD FOOTER HERE?-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
  
</html>