{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <header class="home-heading">
        <h1>Stuff My Wife Says</h1>
    </header>
    <div class="image-links">
        <a href="{% url 'products' 't-shirts' %}">
            <img src="{% static 'images/black_tshirt.jpg' %}" alt="T-Shirt">
        </a>
        <a href="{% url 'products' 'mugs' %}">
            <img src="{% static 'images/black_mug.jpg' %}" alt="Mug">
        </a>
    </div>
</div>
{% endblock %}