{% extends 'base.html' %}

{% load static %}

{% block content%}
<div class="container">
    <header>
        <h1 class="pb-2">{{ category }}</h1>
    </header>

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12 categories-column">
            <h3 class="uppercase">Categories</h3>
            {% if categories %}
                {% for category in categories %}
                    <a class="category-font-size" href="{% url 'products' category.slug %}">{{ category.category_name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-10 col-md-8 col-sm-12">
            <h1 class="uppercase">{{ category_name }}</h1>
            <div class="row">
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card mb-2 custom-card">
                        <a href="{% url 'product_details' product.slug %}" title="{{ product.product_name }}"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.product_name }}"></a>
                        <div class="card-body">
                            <h4 class="card-title">{{ product.product_name }}</h4>
                            <p class="card-text">${{ product.price }}</p>
                            <a href="{% url 'product_details' product.slug %}" class="btn custom-btn">View Product</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-----------------pagination------------------>
    <div class="pagination_rounded">
        <ul>
            {% if products.has_previous %}
            <li>
                <a href="?page={{ products.previous_page_number }}" class="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i> Prev 
                </a>
            </li>
            {% endif %}

            {% for page in products.paginator.page_range %}
                {% if products.number == page %}
                <li>
                    <span class="current_page">{{ products.number }}</span>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <li>
                <a href="?page={{ products.next_page_number }}" class="next">
                    Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}