{% extends 'base.html' %}

{% block title %}Shopping Cart{% endblock %}


{% block content %}
<h3>Shopping Cart</h3>
<hr>
<table class="table text-center">
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </tr>
    {% for item in shopping_cart_items %}
    <tr>
        <td><img src="{{ item.product.image.url }}" alt="{{ item.product.category.category_name }}: {{ item.product.product_name}}">
            {{ item.image }}</td> 
        <td>{{ item.product.product_name }}</td>
        <td>${{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.calculate_cart_item_price }}</td>
        <td><input type="submit" value="Remove" class="btn btn-secondary"></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="submit" value="Update" class="btn btn-primary"></td>
        <td>${{ shopping_cart.order_total_price }}</td>
    </tr>
</table>

{% endblock %}

{% comment %} <!--<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">--> {% endcomment %}