/*--------------------------------------Generic Styles-----------------------------------------*/
body {
    background-color: #FBFAFF;
}


/*--------------------------------------Navigation Bar-----------------------------------------*/

.custom-navbar {
    background-color: black;
}

/* Change the text color of the brand link (e.g., "Stuff My Wife Says") to white */
.custom-navbar .navbar-link,
.custom-navbar .navbar-brand {
    color: white;
}


/*--------------------------------------Home Page-----------------------------------------*/
.home_heading {
    text-align: center;
    margin-top: 100px;
}

.image-links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-links a {
    margin: 0 50px;
    display: inline-block;
    position: relative;
}

.image-links img {
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}

.image-links a:hover img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Changing the box-shadow on hover */
    transform: translateY(-5px); /* Adding a slight vertical translation on hover */
}



/*--------------------------------------Products Page-----------------------------------------*/
.categories-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 10px;
}


/*--------------------------------------Products Pagination-----------------------------------------*/

/*pushes paginator down to the bottom of the screen*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/*centers the paginator*/
.pagination_rounded {
    margin-top: auto;
    display: flex;
    justify-content: center;
}


.pagination_rounded ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination_rounded li:first-child {
    margin-left: 0px;
}

.pagination_rounded ul li {
    float: left;
    margin-left: 20px;
}

.pagination_rounded ul li a:hover {
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
}

a:link {
  text-decoration: none;
}

.pagination_rounded .prev {
    margin-left: 0px;
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
}


.pagination_rounded ul li a,
.pagination_rounded ul li .current_page {
    float: left;
    color: #4285f4;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
}


.current_page {
    color: black!important;
}

.pagination_rounded .prev i {
    margin-right: 10px;
}

.pagination_rounded .next {
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
}